<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>

    <h:panelGrid columns="2" >

        <h:outputText value="id"/>
        <h:outputText value="#{FHIRPatientDetails.id}"/>

        <h:outputText value="Name"/>
        <h:outputText value="#{FHIRPatientDetails.name}"/>

        <h:outputText value="Lastname"/>
        <h:outputText value="#{FHIRPatientDetails.lastName}"/>

        <h:outputText value="Birthday"/>
        <h:outputText value="#{FHIRPatientDetails.birthday}"/>
    </h:panelGrid>

    <h:form >
        <h:panelGrid columns="2" >
            Temperature
            <h:inputText  value="#{FHIRPatientDetails.temperature}" required="true" id="temperaure"></h:inputText>


            Date
            <h:inputText value="#{FHIRPatientDetails.measurementAt}" required="true" >
                <f:convertDateTime pattern="d.M.yyyy hh:mm" />
            </h:inputText>

            <h:commandButton value="Save" action="#{FHIRPatientDetails.addTemperature}"   >
                <f:param name="id" value="#{FHIRPatientDetails.id}"/>
            </h:commandButton>

        </h:panelGrid>
    </h:form>
    <h1>All measurements:</h1>
    <h:dataTable value="#{FHIRPatientDetails.temperatureList}" var="temperature">

        <h:column>
            <f:facet name="header">Time</f:facet>
            #{temperature.measurementAt}
        </h:column>
        <h:column>
            <f:facet name="header">Temperature</f:facet>
            #{temperature.temperature}
        </h:column>

    </h:dataTable>


</h:body>
</html>
