<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
    <h:form>
        <h:panelGrid columns="2">
            Name
            <h:inputText value="#{FHIRCreatePatient.name}" required="true" id="name"></h:inputText>

            Lastname
            <h:inputText value="#{FHIRCreatePatient.lastName}" required="true" id="lastname"></h:inputText>

            Birthday
            <h:inputText value="#{FHIRCreatePatient.birthday}" required="true">
                <f:convertDateTime pattern="d.M.yyyy"/>
            </h:inputText>

            <h:commandButton value="Save" action="#{FHIRCreatePatient.submit}"></h:commandButton>

        </h:panelGrid>
    </h:form>
    <h:form>
        <h:inputText value="#{FHIRCreatePatient.searchString}"/>
        <h:commandButton value="Search" action="#{FHIRCreatePatient.search}"/>
    </h:form>
    <h:form>
        <h:outputLink value="#{FHIRCreatePatient.urlExport}" >Export max temperature as JSON file</h:outputLink>
    </h:form>
    <h:link value="Max temperatures per patient" outcome="MaxTemperatures"></h:link>
    <h:dataTable value="#{FHIRCreatePatient.allPatients}" var="patient">
        <h:column>
            <f:facet name="header">Id</f:facet>
            #{patient.id}
        </h:column>
        <h:column>
            <f:facet name="header">Name</f:facet>
            #{patient.name}
        </h:column>
        <h:column>
            <f:facet name="header">Lastname</f:facet>
            #{patient.lastName}
        </h:column>
        <h:column>
            <f:facet name="header">Birthday</f:facet>
            #{patient.birthDay}
        </h:column>
        <h:column>
            <f:facet name="header">Details</f:facet>
            <h:link value="Details" outcome="FHIRPatientDetails?id=#{patient.id}"></h:link>
        </h:column>
    </h:dataTable>

</h:body>
</html>
